// app global css in SCSS form
.element.style {
    padding-left: 100px;
}

@font-face {
    font-family: 'Syne';
    font-size: 30px;
    src: url(./fonts/syne.ttf);
}

* {
    font-family: 'Syne';
}

.q-tooltip--style {
    color: #fafafa;
    border-radius: 4px;    
    cursor: pointer;
    background: none;
  }

body{
    overflow-y:hidden;
}
@media only screen and (max-width:960px){
    body{
        overflow-y:scroll;
    }
}

.skill {
    border-style: solid;  border-width: 1px; border-radius: 16px; width: 220px
}
